@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: "Poppins", "Gill Sans", sans-serif;
}
main{
     width: 500px;
     margin: 20px auto 0 auto;
     border-color: dodgerblue;
     border-radius: 10px;
     border-style: solid;
     border-width: 1px;
     background-color: lightgray;
     padding: 50px;


}
 h3{
     text-align: center;
 }

 input{
     width: 400px;
     margin: 0 auto 0 auto;
     display: block;
 }

 label{
     width: 400px;
     margin: 20px auto 0 auto;
     display: block;
 }

 .logo{
     width: 50px;
     height: 50px;
     margin-top: -15px;
     margin-bottom: -10px;
     background-repeat: round;
     background-image: url("../media/piggybank.svg");

 }

 button{
     width: 400px;
     margin: 20px auto 40px auto;
 }

form{
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

nav{
    background-color: lightgray;
    padding: 5px;
    margin-bottom: 20px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: dodgerblue;
}

img{
    width: 150px;
    margin-bottom: 20px;
}

select{
    text-align: center;
    width: 80%;
    margin: 0 10% 5px 10%;

}

table{
    margin-top: 20px;
    width: 100%;
    border: none;
}

tr{
    border: none;
}

th{
    background-color: #48a2fa;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: transparent;
    padding: 5px;
}

td{
    background-color: #f1f0f0;
    color: #666666;
    border-color: #48a2fa;
    padding: 5px;
    text-align: center;
}


.transferSubmit{
    margin-top: 40px;
}

.loginSubmit{
    margin-top: 40px;
    margin-left: 50px;
    width: 83%;
}